# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Restore Packages
      run: nuget restore ApiInspector.sln
      
    - name: Build Solution
      run: |
        msbuild.exe ApiInspector.sln /p:platform="Any CPU" /p:configuration="Release"
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: |
        dotnet build ApiInspector.NetCore
        dotnet publish ApiInspector.WebUI -p:PublishProfile=ApiInspector.WebUI/Properties/PublishProfiles/FolderProfile1.pubxml
    
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        filename: 'ApiInspectorLatestVersion.zip'
        path: 'ApiInspector.WebUI\bin\release\net6.0\publish\'
    
